# Neon Serverless Postgres Database Connection String
DATABASE_URL="postgresql://username:password@ep-host-name.us-east-2.aws.neon.tech/neondb?sslmode=require"

# Security Token matching the robot parameter "InpWebApiKey" to authorize updates
WEB_API_KEY="aura_secret_token_123456"
